{{#partial "content"}}
    <div class="columns">
        <div class="column is-12">

            {{> includes/crumbs}}

            {{> includes/hero}}

            <div class="column is-12">
                <div class="card bar level">
                    {{#with url}}
                        <div class="level-left">{{template}}</div>
                        <div class="level-right">
                            {{#if parameterised}}
                                <a class="button is-primary modal-button" data-target="parameters">Go</a>
                            {{else}}
                                <a class="button is-primary" href="http://localhost:8081{{path}}" target="_blank">Go</a>
                            {{/if}}
                        </div>
                    {{/with}}
                </div>

                <div class="card">
                    <div class="card-header tabs is-centered is-toggle is-medium is-primary">
                        <ul>
                            {{#tabs}}
                                <li {{#if active}}class="is-active"{{/if}}>
                                    <a>{{name}}</a>
                                </li>
                            {{/tabs}}
                        </ul>
                    </div>

                    <div id="tabs" class="content">
                        {{#tabs}}
                            <div {{#unless active}}class="is-hidden"{{/unless}}>

                                {{#with model}}
                                    <form method="post" action="{{action}}" id="{{name}}-form">

                                        {{#inputs}}
                                            <div class="field is-horizontal">
                                                <div class="field-label is-normal">
                                                    <label class="label" for="{{name}}-input">{{label}}</label>
                                                </div>
                                                <div class="field-body">
                                                    <div class="field">
                                                        {{#eq type 'json'}}
                                                            <input class="input" name="{{name}}" id="{{name}}-input" type="text" {{#if disabled}}disabled="disabled"{{/if}} value="{{value}}"/>
    <!--
    <div class="input">
    <pre><code class="json">{
    "abc": [1,2,3]
    }</code></pre>
    </div>
    -->
                                                        {{/eq}}
                                                        {{#eq type 'checkbox'}}
                                                            <div class="is-checkradio">
                                                                <input class="is-checkradio is-info is-ltr" name="{{name}}" id="{{name}}-input" type="checkbox" value="true" {{#if disabled}}disabled="disabled"{{/if}} {{#if value}}checked="checked"{{/if}}/>
                                                                <label for="{{name}}-input"/>
                                                            </div>
                                                        {{/eq}}
                                                        {{#eq type 'number'}}
                                                            <input class="input" name="{{name}}" id="{{name}}-input" type="text" {{#if disabled}}disabled="disabled"{{/if}} value="{{value}}"/>
                                                        {{/eq}}
                                                        {{#eq type 'text'}}
                                                            <input class="input" name="{{name}}" id="{{name}}-input" type="text" {{#if disabled}}disabled="disabled"{{/if}} value="{{value}}"/>
                                                        {{/eq}}
                                                        {{#eq type 'tag'}}
                                                            <input class="input" name="{{name}}" id="{{name}}-input" type="tags" placeholder="Add Value" {{#if disabled}}disabled="disabled"{{/if}} value="{{value}}"/>
                                                        {{/eq}}
                                                    </div>
                                                </div>
                                            </div>
                                        {{/inputs}}

                                        <input type="hidden" name="module" value="{{name}}"/>

                                    </form>

                                    <form method="post" action="{{action}}" id="{{name}}-reset">
                                        <input type="hidden" name="module" value="{{name}}"/>

                                        <div class="field is-grouped is-grouped-centered is-horizontal">
                                            <p class="control">
                                                <a class="button" onclick="document.getElementById('{{name}}-reset').submit();">
                                                    Reset
                                                </a>
                                            </p>

                                            {{#eq ../name 'mock'}}
                                                <p class="control">
                                                    <a class="button is-info modal-button" data-target="presets">
                                                        Presets...
                                                    </a>
                                                </p>
                                            {{/eq}}

                                            <p class="control">
                                                <a class="button is-primary" onclick="document.getElementById('{{name}}-form').submit();">
                                                    Save
                                                </a>
                                            </p>
                                        </div>
                                    </form>
                                {{/with}}

                            </div>
                        {{/tabs}}

                    </div>
                </div>

            </div>

        </div>
    </div>

    {{#tabs}}
        {{#with model}}
            {{#eq name 'mock'}}
                {{> modals/preset}}
            {{/eq}}
        {{/with}}
    {{/tabs}}

    {{#with url}}
        {{#if parameterised}}
            {{> modals/parameters}}
        {{/if}}
    {{/with}}

{{/partial}}

{{> layout}}