<div id="parameters" class="modal modal-fx-fadeInScale">
    <div class="modal-background"></div>
    <div class="modal-content">

        <div class="column is-12">

            <div class="box">
                <header class="card-header">
                    <p class="card-header-title">
                        Parameters
                    </p>
                </header>

                {{#with url}}
                    <div class="content">
                        <form method="get" action="http://localhost:8081{{path}}" target="_blank">

                            {{#parameters}}
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label" for="{{this}}-param">{{this}}</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <input id="{{this}}-param" type="text" class="input" name="{{this}}" value="" placeholder="{{this}}"/>
                                        </div>
                                    </div>
                                </div>
                            {{/parameters}}

                            <div class="field is-grouped is-grouped-centered is-horizontal">
                                <p class="control">
                                  <button class="button is-primary">Go</button>
                                </p>
                            </div>

                        </form>
                    </div>
                {{/with}}
            </div>

        </div>

    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>